body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-watchlist{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-watchlist__link{
    padding-right: 8px
}

.nav-watchlist__count{
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
    color: white;
    font-size: 12px;
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-top: 1px;
}

.index__listing{
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    max-height: 400px;
}

.index__listing__img-container{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;;
}

.index__listing__img{
    max-height: 98%;
    max-width: 98%;
}

.index__listing__img-none{
    width: 25%
}

.index__listing__word-container{
    width: 70vw;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index__listing__title{
    font-size: 30px;
    font-weight: bold;
}

.index__listing__description{
    width: 100%;
    font-size: 15px;
}

.listing__header{
    display: flex;
    gap: 15px;
}

.listing__active-status{
    margin-top: 3px;
}

.listing__watchlist-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
    color: white;
}

.listing__img-container{
    display: flex;
    justify-content: center;
}

.listing__img{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
    max-height: 600px;
}

.listing__description{
    font-weight: normal;
    margin-bottom: 30px;
}

.listing__price{
    margin-bottom: 15px;
}

.listing__bid{
    display:flex;
    flex-direction: column;
}

.listing__bid-description{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

#id_bid{
    height: 35px;
}

.listing__btn{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 130px;
    height: 40px;
    background-color: rgb(56, 155, 212);
    color:white;
    border: none;
    border-radius: 8px;
}

.listing__comments-form{
    display: flex;
    flex-direction: column;
}

.listing__comments{
    font-size: 20px;
}

.required{
    font-weight: bold;
}

#createform > p {
    display: flex;
    flex-direction: column;
    width: 50%;
}

