body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.index__listing{
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    max-height: 400px;
}

.index__listing__img-container{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;;
}

.index__listing__img{
    max-height: 98%;
    max-width: 98%;
}

.index__listing__img-none{
    width: 25%
}

.index__listing__word-container{
    width: 70vw;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index__listing__title{
    font-size: 30px;
    font-weight: bold;
}

.index__listing__description{
    width: 100%;
    font-size: 15px;
}

.listing__watchlist-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
    color: white;
}

.required{
    font-weight: bold;
}

#createform > p {
    display: flex;
    flex-direction: column;
    width: 50%;
}

