/* container for login.html and register.html*/
.account-container{
    padding: 10px 30px 10px 30px;
}
/* container for login.html and register.html*/


/* layout pagination div css */
#pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
}
/* layout pagination div css */


/* layout post div css */
#posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.post-container{
    border: 1px solid gray;
    border-radius: 3px;
    width: 80vw;
    max-width: 800px;
    height: 230px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.post-header{
    display:flex;
}

.post-profile-pic{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.post-username{
    font-size: 25px;
    font-weight:bolder;
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 3px;
    margin-right: auto;
}

.post-edit{
    position: relative;
    top: 30px;
    margin-right: 15px;
    cursor: pointer;
    color: blue;
    opacity: 0.8;
    text-decoration: underline;
}

.post-trash{
    position: relative;
    top: 20px;
    margin-left: 10px;
    cursor: pointer;
    height: 25px;
}

.save-edit{
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    height: 35px;
}

.post-content{
    border: 1px solid black;
    height: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    resize: none;
}

.post-footer{
    display: flex;
    align-items: center;
}

.post-heart{
    height: 25px;
    margin-right: 5px;
}

.active{
    cursor:pointer;
}

.post-likes{
    margin-right: auto;
}

.post-time{
    opacity: 0.8;
}

/* layout post div css */


/* profile page css */
#newPhoto{
    width: 100%
}

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#profile-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-me{
    cursor: pointer;
}

#bio-modal-body{
    display: flex;
    flex-direction: column;
}

#profile-description{
    height: 300px;
    width: 300px;
    border: 2px rgb(20, 204, 250) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile-name{
    margin-bottom: 0px;
}

#profile-bio{
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    overflow: auto;
    background-color: white;
    padding: 2px;
}
/* profile page css */


/* index page css */
#index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 80vw;
    max-width: 800px;
    padding: 15px;
}

#post-form-title{
    font-size: 25px;
}

#post-form-btn{
    width: 70px;
}

#post-form-error{
    margin-left: 5px;
    color: red;
    font-size: 15px;
    font-style: italic;
}
/* index page css */


/* follwing page css */
#following-header{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* following page css */


/* Scroll bar css*/
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 8px;
  }