{% extends "network/layout.html" %}
{% load static %}

{% block header %}
    <div id="profile">
        <img id="profile-img">
        <div id="profile-description">
            <h1 id="profile-name"></h1>
            <button id="profile-follow" class="btn btn-primary" style="display:none"></button>
            <div id="profile-info" class="row">
            </div>
            <div id="profile-bio">
            </div>
        </div>
    </div>
{% endblock %}

{% block post %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
