{% extends "network/layout.html" %}
{% load static %}

{% block header %}
    <div id="profile">
        <img id="profile-img" src="{{pic}}">
        <div id="profile-description">
            <h1 id="profile-name">{{ name }}</h1>
            <div class="row">
                <div class="col-sm-4 mx-auto center-block text-center">posts<br>{{postCount}}</div>
                <div class="col-sm-4 mx-auto center-block text-center">following<br>{{following}}</div>
                <div class="col-sm-4 mx-auto center-block text-center">followers<br>{{followers}}</div>
            </div>
            <div id="profile-bio">
                bio goes here
            </div>
        </div>
    </div>
{% endblock %}

{% block post %}
    Posts go here!
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
